@import url(_variables.css);

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--roboto), sans-serif; /* Use the font in your styles */
}

.border{
    border-radius: 100px 0 100px 0 !important;
    -webkit-border-radius: 100px 0 100px 0 !important;
    -moz-border-radius: 100px 0 100px 0 !important;
    -ms-border-radius: 100px 0 100px 0 !important;
    -o-border-radius: 100px 0 100px 0 !important;
}
